.*~.gz
.mc-lists.el
auto-save-list
history
irony
places
projectile*
savehist
var
emacs.el
emacs.elc
anaconda-mode
private.el
recentf
smex-items
elpa
backups
eshell
semanticdb
undo-tree
url
var
custom.el
bookmarks
server/server
